* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background-image: url("https://static.posters.cz/image/750/poster/harry-potter-hogwarts-boats-i74249.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 18px;
    line-height: 1.5; }

    .contenedor {
        width: 95%;
        margin: 20px auto;
        padding: 20px 30px;
        color: white;
        background-color:rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 1.7em;
        text-align: center;
        margin-bottom: 20px;
        animation: ease texto 3.5s;
    }
    .contenedor img {
        width: 90%;
        height: 180px;
        border-radius: 10%;
        display: flex;
        /* background-color: burlywood; */
        margin: 30px auto;
        margin-bottom: 50px;
        border: solid whitesmoke 2px;
        animation: ease texto 3.5s;
    }
    .contenedor a {
        text-decoration: none;
        background-color: black;
        color: whitesmoke;
        padding: 10px;
        border: 1px solid white;
        margin: 30px auto;
        border-radius: 10px;
        width: min-content;
        animation:1s btn infinite;
    }
    /* .contenedor a:hover {
        transform: scale(1.1);
    } */
    .contenedor p {
        margin-bottom: 15px;
        text-align: center;
        animation: ease texto 5s;
    }

    /* MEDIA QUERY */

@media screen and (min-width: 500px) {
    .contenedor {
        font-size: 1.2em;
        margin: 20px auto;
    }
    .contenedor img {
        width: 55%;
    }
}

@media screen and (min-width: 768px) {
    .contenedor {
        width: 90%;
        font-size: 1.2em;
        margin: 20px auto;
        padding: 20px 80px;
    }
    .contenedor img {
        width: 45%;
    }
}
@media screen and (min-width: 960px) {
    .contenedor {
        max-width: 800px;
        font-size: 1em;
    }

}


/* ANIMACIONES */

@keyframes texto {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes btn {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    0% {transform: scale(1);}
}